<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Libros</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Lista de Libros</h1>
        <ul>
            {% for libro in object_list %}
            <li>
                <a href="{% url 'detalles' libro.pk %}">{{ libro.titulo }}</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'crear_libro' %}" class="btn btn-primary">Crear Nuevo Libro</a>
    </div>
</body>
</html>
